<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        .container {
            display: flex;
            flex-wrap: wrap;
            width: 1200px;
            margin-inline: auto;
        }
        .box {
            width: 25%;
            padding: 15px;
        }
        .small {
            width: 30%;
        }
        .large {
            width: 70%;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="small">
            <ul>
                <li>list</li>
                <li>list</li>
                <li>list</li>
                <li>list</li>
                <li>list</li>
                <li>list</li>
                <li>list</li>
            </ul>
        </div>
        <div class="large">
            <h2>title</h2>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus beatae modi repudiandae ullam minus est odio! Aperiam doloremque iste error vero rerum possimus cupiditate asperiores tempora sed optio, sunt soluta!
            </p>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum dignissimos tempore tempora, labore ea quo perspiciatis hic, eum officia nemo cum mollitia libero nihil eaque vero culpa dolorum aliquam maxime!
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias explicabo enim fugiat perspiciatis nemo quam necessitatibus incidunt voluptatibus obcaecati modi labore vero nobis voluptatem provident, nisi id animi consequuntur veniam.
            </p>
        </div>
    </div>
    <div class="container">
        <div class="box">
            <h2>title</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, nam ipsum dolorum commodi vel quis, qui fugit ratione ea consectetur dignissimos sequi ut voluptas ullam voluptatum sapiente odio blanditiis pariatur.
            </p>
        </div>
        <div class="box">
            <h2>title</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, nam ipsum dolorum commodi vel quis, qui fugit ratione ea consectetur dignissimos sequi ut voluptas ullam voluptatum sapiente odio blanditiis pariatur.
            </p>
        </div>
        <div class="box">
            <h2>title</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, nam ipsum dolorum commodi vel quis, qui fugit ratione ea consectetur dignissimos sequi ut voluptas ullam voluptatum sapiente odio blanditiis pariatur.
            </p>
        </div>
        <div class="box">
            <h2>title</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, nam ipsum dolorum commodi vel quis, qui fugit ratione ea consectetur dignissimos sequi ut voluptas ullam voluptatum sapiente odio blanditiis pariatur.
            </p>
        </div>
        <div class="box">
            <h2>title</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, nam ipsum dolorum commodi vel quis, qui fugit ratione ea consectetur dignissimos sequi ut voluptas ullam voluptatum sapiente odio blanditiis pariatur.
            </p>
        </div>
        <div class="box">
            <h2>title</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, nam ipsum dolorum commodi vel quis, qui fugit ratione ea consectetur dignissimos sequi ut voluptas ullam voluptatum sapiente odio blanditiis pariatur.
            </p>
        </div>
    </div>
</body>
</html>