---
import BaseLayout from "../layouts/BaseLayout.astro"
import Hero from "../components/Hero.astro"

const myTitle = 'Hello Astro'
---
<BaseLayout pageTitle="Home">
	<Hero></Hero>
	<h1>Astro {myTitle}</h1>
</BaseLayout>