<nav>
    <a href="/">Home</a>
    <a href="/blog">Blog</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
</nav>

<style>
    nav {
        display: flex;
        gap: 15px;
        justify-content: center;
        padding-block: 25px;
        background-color: #222;
    }
    nav a {
        color: #eee;
        text-decoration: none;
    }
</style>