<nav class="flex gap-4 justify-center py-7 bg-zinc-900 text-zinc-100 *:hover:text-amber-300">
    <a href="/">Home</a>
    <a href="/blog">Blog</a>
    <a href="/tags">Tag</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
</nav>

<style>
    /* nav {
        display: flex;
        gap: 15px;
        justify-content: center;
        padding-block: 25px;
        background-color: #222;
    }
    nav a {
        color: #eee;
        text-decoration: none;
    } */
</style>